#parent {
    display: flex;
    width: 600px;
    border: 5px solid #e84610;

}

.child {
    flex-basis: 300px;
    box-sizing: border-box;
    border: 2px solid #4a4a4f;
    text-align: center;
}

#box-a {
    background-color: #23bbbb;
}

#box-b {
    background-color: #efb920;
}

.inputs div {
    margin: 5px;
}